body {
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
    
}

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, #FFFF 55%, #602BF8 55%);
    /* background: #201b2c; */
    align-items: center;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 45%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #FFFF;
    box-shadow: 2px 2px 4px rgba(86, 144, 198, 0.11), 6px 6px 30px #602BF8;
    border-radius: 40px;
    
}

.card-login > h1 {
    font-weight: 800;
    margin: 0;

    font-family: 'Noto Sans Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
    color: #602BF8;
}

.textfield {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.icon-login{
    justify-content: center;
    margin: 15px -25px;
    color: #602BF8;
}

.textfield > input {
    width: 75%;
    border: 1px solid #602BF8;
    border-radius: 32px;
    padding: 15px;
    /* background: #514869; */
    font-size: 14pt;
    outline: none;
    box-sizing: border-box;
    
}

.icon-login {
    z-index: 1;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
    font-size: 18px;

}

.btn-login{
    width: 35%;
    padding: 10px 0px;
    margin: 25px;
    border: none;
    border-radius: 32px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFFF;
    background: #5124D0;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    font-family: 'Noto Sans Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
}

